<ns-demo
    _title="{{title}}"
    _id="components-{{component}}-demo-{{key}}"
    _selector="nz-demo-{{component}}-{{key}}"
    [_link]="'components-{{component}}-demo-{{key}}'"
    _command="{{nzGenerateCommand}}"
    _name="{{componentName}}"
    _iframe_source="{{iframeSource}}"
    [_iframe_height]="{{iframeHeight}}"
    [_href]="'https://github.com/NG-ZORRO/ng-zorro-antd/edit/master/components/{{component}}/demo/{{key}}.md'"
>
	<div class="example">
    <ns-demo-{{component}}-{{key}}></ns-demo-{{component}}-{{key}}>
  </div>
		<div class="markdown">
      {{doc}}
    </div>
</ns-demo>

