<div class="bs-d-flex bs-mb-3">
  <div class="bs-flex-grow-1">
    <h5 class="bs-mb-1">Total Users</h5>
    <div>Store user account registration</div>
  </div>
  <a href="#" data-bs-toggle="dropdown" class="bs-text-muted"><i class="bs-fa bs-fa-redo"></i></a>
</div>
<div class="bs-d-flex">
  <div class="bs-flex-grow-1">
    <h3 class="bs-mb-1">184,593</h3>
    <div class="bs-text-success bs-font-weight-600 bs-fs-13px">
      <i class="bs-fa bs-fa-caret-up"></i> +3.59%
    </div>
  </div>
  <div class="bs-w-50px bs-h-50px bs-bg-primary-transparent-2 bs-rounded-circle bs-d-flex bs-align-items-center bs-justify-content-center">
    <i class="bs-fa bs-fa-user bs-fa-lg bs-text-primary">12312</i>
  </div>
</div>
<fa-icon class="refresh" [icon]="refresh"></fa-icon>

