<bs-nav class="header" [logo]="logo">
  <ng-template #logo>Swan</ng-template>
  <ul class="bs-navbar-nav bs-me-auto bs-mb-2 bs-mb-lg-0">
    <li class="bs-nav-item">
      <a class="bs-nav-link bs-active" aria-current="page" href="">文档</a>
    </li>
    <li class="bs-nav-item">
      <a class="bs-nav-link" href="/components/input">组件</a>
    </li>
    <li class="bs-nav-item bs-dropdown">
      <a class="bs-nav-link bs-dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="bs-dropdown"
         aria-expanded="false">
        版本
      </a>
      <ul class="bs-dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="bs-dropdown-item" href="#">Action</a></li>
        <li><a class="bs-dropdown-item" href="#">Another action</a></li>
        <li>
          <hr class="bs-dropdown-divider">
        </li>
        <li><a class="bs-dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </ul>
</bs-nav>
<!--<nav class="bs-navbar bs-navbar-expand-lg bs-navbar-light bg-light" style="background-color: #7952b3;color: #fff;">-->
<!--  <div class="bs-container-fluid">-->
<!--    <a class="bs-navbar-brand" href="#">Navbar</a>-->
<!--    <button class="bs-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="bs-navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="bs-collapse bs-navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="bs-navbar-nav bs-me-auto bs-mb-2 bs-mb-lg-0">-->
<!--        <li class="bs-nav-item">-->
<!--          <a class="bs-nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
<!--        <li class="bs-nav-item">-->
<!--          <a class="bs-nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="bs-nav-item dropdown">-->
<!--          <a class="bs-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <ul class="bs-dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="bs-dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="bs-dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="bs-dropdown-divider"></li>-->
<!--            <li><a class="bs-dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="bs-nav-item">-->
<!--          <a class="bs-nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="bs-d-flex">-->
<!--        <input class="bs-form-control bs-me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="bs-btn bs-btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<router-outlet></router-outlet>


