@import "../node_modules/monsta-bootstrap/scss/bootstrap-utilities";
@import "../node_modules/monsta-bootstrap/scss/reboot";
@import "../node_modules/monsta-bootstrap/scss/bootstrap-grid";
@import "../node_modules/monsta-bootstrap/scss/utilities";
@import "../node_modules/monsta-bootstrap/scss/buttons";
@import "../node_modules/monsta-bootstrap/scss/button-group";
@import "../node_modules/monsta-bootstrap/scss/spinners";

@import "../node_modules/monsta-bootstrap/scss/forms";

html, body {
  height: 100%;
}

.ns-mask-transparent {
  position: absolute;
  width: 100%;
  height: 100%;
}
