<p style="background: gray;margin: 0;">1</p>
<p [mt]="mt" [pt]="p" [ps]="p" style="background: #3c4e71;margin: 0;">2</p>

<button (click)="changeMT()">变换MT</button>

<br>
<br>

<br>
<br>

<ns-row  cols="6" gx="0" [gx_md]="md">
  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-danger">1</div>
  </ns-col>
  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-warning">2</div>
  </ns-col>

  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-danger">1</div>
  </ns-col>
  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-warning">2</div>
  </ns-col>

  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-danger">1</div>
  </ns-col>
  <ns-col style="margin-right: -1px">
    <div class="bs-w-100 bs-h-100 bs-bg-warning">2</div>
  </ns-col>
</ns-row>

<br><br><br>
<div class="bs-container-fluid">
  <ns-row g="5">
    <ns-col class="bs-bg-warning">1</ns-col>
    <ns-col class="bs-bg-danger">2</ns-col>
  </ns-row>
</div>
