@import "~monsta-bootstrap/scss/bootstrap-utilities";

::ng-deep {
  @import "~monsta-bootstrap/scss/navbar";

  .bs-navbar {
    background: #fff;
  }

  .bs-navbar-brand {
    margin-left: -12px;
    padding-left: 12px;
    width: 240px;
  }
}

