<div class="bs-modal-dialog">
  <div class="bs-modal-content">
    <div class="bs-modal-header">
      <h5 class="bs-modal-title">
        <ng-template [ngIf]="isTplTitle">
          <ng-container [ngTemplateOutlet]="nsTitle"></ng-container>
        </ng-template>
        <ng-template [ngIf]="!isTplTitle">
          {{ nsTitle }}
        </ng-template>
      </h5>
      <button *ngIf="nsClose" type="button" class="bs-btn-close" (click)="close()"></button>
    </div>
    <div class="bs-modal-body">
      <ng-content></ng-content>
    </div>
    <div class="bs-modal-footer">
      <button type="bs-button" class="bs-btn bs-btn-secondary" (click)="cancel()">取消</button>
      <button type="bs-button" class="bs-btn bs-btn-primary" (click)="ok()">确定</button>
    </div>
  </div>
</div>
