<ns-menu>
  <ns-menu-header label="Navigation"></ns-menu-header>
  <ns-menu-item label="Dashboard" [icon]="icons.dashboard"></ns-menu-item>
  <ns-menu-item label="Email" [icon]="icons.email">
    <ns-menu-item label="Inbox"></ns-menu-item>
    <ns-menu-item label="Compose"></ns-menu-item>
    <ns-menu-item label="Detail"></ns-menu-item>
  </ns-menu-item>
  <ns-menu-divider></ns-menu-divider>
  <ns-menu-header label="Components"></ns-menu-header>
  <ns-menu-item label="Widgets" [icon]="icons.widgets"></ns-menu-item>
  <ns-menu-item label="UI Kits" [icon]="icons.uiKits">
    <ns-menu-item label="Bootstrap"></ns-menu-item>
    <ns-menu-item label="Buttons"></ns-menu-item>
    <ns-menu-item label="Card"></ns-menu-item>
    <ns-menu-item label="Icons"></ns-menu-item>
  </ns-menu-item>
  <ns-menu-item label="Forms" [icon]="icons.forms">
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
    <ns-menu-item label="Form Elements"></ns-menu-item>
    <ns-menu-item label="Form Plugins"></ns-menu-item>
  </ns-menu-item>
  <ns-menu-item label="Tables" [icon]="icons.tables">
    <ns-menu-item label="Table Elements"></ns-menu-item>
    <ns-menu-item label="Table Plugins"></ns-menu-item>
  </ns-menu-item>
  <ns-menu-item label="Multi" [icon]="icons.tables">
    <ns-menu-item label="First 1"></ns-menu-item>
    <ns-menu-item label="First 2">
      <ns-menu-item label="Second 1"></ns-menu-item>
      <ns-menu-item label="Second 2">
        <ns-menu-item label="Third 3"></ns-menu-item>
      </ns-menu-item>
      <ns-menu-item label="Second 3"></ns-menu-item>
    </ns-menu-item>
    <ns-menu-item label="First 3">
      <ns-menu-item label="Second 1"></ns-menu-item>
      <ns-menu-item label="Second 2">
        <ns-menu-item label="Third 3"></ns-menu-item>
      </ns-menu-item>
      <ns-menu-item label="Second 3"></ns-menu-item>
    </ns-menu-item>
    <ns-menu-item label="First 4"></ns-menu-item>
  </ns-menu-item>
</ns-menu>
