<div class="bs-container-fluid">
  <div class="bs-row bs-flex-xl-nowrap">
    <div class="bs-col-1" style="border-right: 1px solid #d8d8d8;height: calc(100vh - 3rem);width: 270px;">
      <bs-menu>
        <bs-menu-group *ngFor="let item of components" [nsTitle]="item.title">
          <bs-menu-item *ngFor="let link of item.children" [nsTitle]="link.title" [nsLink]="link.link"></bs-menu-item>
        </bs-menu-group>
      </bs-menu>
    </div>
    <div class="bs-col">
      <div class="bs-container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>



