<div class="bs-container-fluid">
  <div class="bs-row bs-flex-xl-nowrap">
    <div class="bs-col-md-3" style="border:1px solid #eee; height: 100%;">
      <bs-menu>
        <bs-menu-group *ngFor="let item of components" [nsTitle]="item.title">
          <bs-menu-item *ngFor="let link of item.children" [nsTitle]="link.title" [nsLink]="link.link"></bs-menu-item>
        </bs-menu-group>
      </bs-menu>
    </div>
    <div class="bs-col-md-9">
      <div class="bs-container-fluid">
        <p>document works!</p>
      </div>
    </div>
  </div>

</div>



